.navbar-brand {
    img {
        max-width: 200px;
    }
}
.navbar-light .navbar-nav .active>.nav-link {
    color: $primary;
}

.mitglied img {
    padding: 40px 100px 0 0;
}

.partner {
    padding: 20px;
}
.header-container {
    #primary {
    padding: 0;
    margin: 0;
    }
}