body {
    font-family: 'Helvetica Neue',sans-serif;
}
.navbar-brand {
    img {
        max-width: 200px;
    }
}
.navbar-light .navbar-nav .active>.nav-link {
    color: $primary;
}

.mitglied img {
    padding: 40px 100px 0 0;
}

.partner {
    padding: 20px;
}
.header-container {
    #primary {
    padding: 0;
    margin: 0;
    }
}
h1, h2 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}
.box {
    background: #f5f5f5;
    padding: 20px 30px;
}
#page-wrapper, #index-wrapper {
    padding: 0;
}
.nav-link {
    font-size: 20px;
}
.blog-vorschau {
    margin-bottom: 10px;
}
.entry-meta {
    margin-bottom: 10px;
    font-size: 14px;
}
.site-info {
    text-align: center;
    font-size: 14px;
}
#main-nav {
    padding: 1rem 1rem
}





.vorstandsmitglied {
	margin-bottom: 20px;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
}
h1 {
	font-weight: 400;
	font-size: 40px;

}
h2 {
	font-size: 30px;


}
h3 {
	font-size: 25px;
}
.nav-link {
	font-weight: 300;
	font-size: 22px;
}
p, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
}
.entry-content {
	margin-top: 30px;
	margin-bottom: 20px;
}
.mitglied {
	margin-top: 40px;
}
.box {
	background: #e3e2e2;
	border-bottom: 8px #ad0000 solid;
	margin-bottom: 20px;
}
.current_page_item {

	color: #ad0000;
}
#main-nav {
	border-bottom: 1px #ad0000 solid;

}
.home #main {
	margin-top: -1px;
}

#main {
	margin-top: 40px;
}
.hero-image {
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }
}