body {
    font-family: 'Helvetica Neue',sans-serif;
}
.navbar-brand {
    img {
        max-width: 200px;
    }
}
.navbar-light .navbar-nav .active>.nav-link {
    color: $primary;
}

.mitglied img {
    padding: 40px 100px 0 0;
}

.partner {
    padding: 20px;
}
.header-container {
    #primary {
    padding: 0;
    margin: 0;
    }
}
h1, h2 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}
.box {
    background: #f5f5f5;
    padding: 20px 30px;
}
#page-wrapper, #index-wrapper {
    padding: 0;
}
.nav-link {
    font-size: 20px;
}
.blog-vorschau {
    margin-bottom: 10px;
}
.entry-meta {
    margin-bottom: 10px;
    font-size: 14px;
}
.site-info {
    text-align: center;
    font-size: 14px;
}